<!DOCTYPE html>

<html lang="en">

<head>
    <style>
        footer {
            position: absolute;
            bottom: 10px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Add Test Case: {{ assignment.assignment_name }}</title>
</head>

<body>
<h1>PyGrader</h1>
<h1>Add Test Case: {{ assignment.assignment_name }}</h1>

{% if success_message %}
    <br>

    <h2>Success: {{ success_message }}</h2>
{% endif %}

{% if failure_message %}
    <br>

    <h2>Failure: {{ failure_message }}</h2>
{% endif %}

<br>
<br>

<form action="/add_test_case/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add">
</form>

</body>

<footer>
    <p><a href="/grader">Grader Home</a> | <a href="/grader/create_assignment">Create Assignment</a> | <a
            href="/grader/view_assignment_results">View Assignment
        Results</a> | <a href="/grader/manage_net_ids">Manage NetIDs</a> | <a href="/">Student Home</a> | <a
            href="/grader/view_submission_result">View Submission Result</a></p>
</footer>

</html>