<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Test Case: {{ assignment.assignment_name }}</title>
</head>

<body>
<h1>PyGrader</h1>
<h1>Add Test Case: {{ assignment.assignment_name }}</h1>

{% if success_message %}
    <br>

    <h2>Success: {{ success_message }}</h2>
{% endif %}

{% if failure_message %}
    <br>

    <h2>Failure: {{ failure_message }}</h2>
{% endif %}

<br>
<br>

<form action="/add_test_case/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add">
</form>

</body>

</html>