<!DOCTYPE html>

<html lang="en">

<head>
    <style>
        footer {
            position: absolute;
            bottom: 10px;
        }
    </style>
    <meta charset="UTF-8">
    <title>PyGrader Home</title>
</head>

<body style="margin: 0; padding: 50px">
<h1>PY GRADER</h1>
<p>Under Development By Josh Bedwell -> <a rel="noreferrer noopener" href="/https://github.com/rcxwhiz/django_py_grader"
                                           target="_blank">GitHub</a></p>

{% if success_message %}
    <br>

    <h2>Success: {{ success_message }}</h2>
{% endif %}

{% if failure_message %}
    <br>

    <h2>Failure: {{ failure_message }}</h2>
{% endif %}

<br>

<h2>Home:</h2>
<p><a href="/grader/create_assignment">Create Assignment</a></p>
<p><a href="/grader/assignments">View Assignments</a></p>
<p><a href="/grader/view_submission_result">View A Submission Result</a></p>
<p><a href="/grader/manage_net_ids">Manage NetIDs</a></p>
<p><a href="/grader/test_submit">Test Submit</a></p>
</body>

<footer>
    <p><a href="/grader">Grader Home</a> | <a href="/grader/create_assignment">Create Assignment</a> | <a
            href="/grader/assignments">View Assignments</a> | <a href="/grader/manage_net_ids">Manage NetIDs</a> | <a
            href="/">Student Home</a> | <a
            href="/grader/view_submission_result">View Submission Result</a></p>
</footer>

</html>