<!DOCTYPE html>

<html lang="en">

<head>
    <style>
        footer {
            position: absolute;
            bottom: 10px;
        }
    </style>
    <meta charset="UTF-8">
    <title>PyGrader Home</title>
</head>

<body>
    <h1>PY GRADER</h1>
    <p>Under Development By Josh Bedwell -> <a rel="noreferrer noopener" href="https://github.com/rcxwhiz/django_py_grader" target="_blank">GitHub</a></p>

    <br>

    <h3>Features:</h3>
    <p><a href="http://pygrader.joshbedwell.com/create">Create Assignment</a></p>
    <p><a href="http://pygrader.joshbedwell.com/submit">Submit Assignment</a></p>
    <p><a href="http://pygrader.joshbedwell.com/view_results">View Assignment Results</a></p>
    <p><a href="http://pygrader.joshbedwell.com/view_result">View A Submission Result</a></p>
</body>

<footer>
    <p>Josh Bedwell 2020</p>
    <p>Issues: <a href="mailto:test@test.com">test@test.com</a></p>
</footer>

</html>