<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyGrader Home</title>
</head>
<br>

<h1>PY GRADER</h1>
<br>
<p>Under Development By Josh Bedwell -><a rel="noreferrer noopener" href="https://github.com/rcxwhiz/django_py_grader" target="_blank">GitHub</a></p>
<br>
<p>Things you can (or will be able to) do with this website:</p>
<ul>
    <li>Create an assignment</li>
    <li>Submit an assignment</li>
    <li>View assignment results</li>
    <li>View a submission result</li>
</ul>

</body>
</html>