<!DOCTYPE html>

<html lang="en">

<head>
    <style>
        footer {
            position: absolute;
            bottom: 10px;
        }
    </style>
    <meta charset="UTF-8">
    <title>View Assignments</title>
</head>

<body style="margin: 0; padding: 50px">
<h1>PyGrader</h1>
<h1>View Assignments</h1>

{% if success_message %}
    <br>

    <h2>Success: {{ success_message }}</h2>
{% endif %}

{% if failure_message %}
    <br>

    <h2>Failure: {{ failure_message }}</h2>
{% endif %}

<br>
<br>

<table>
    <tr>
        <th>Assignment</th>
        <th>Test Cases</th>
        <th>Total Submissions</th>
        <th>Students Submitted</th>
        <th>Add Test Case</th>
        <th>View Report</th>
    </tr>
    {% for assignment in assignments %}
        <tr>
            <td>{{ assignment.assignment_name }}</td>
            <td>{{ assignment.number_test_cases }}</td>
            <td>{{ assignment.total_submissions }}</td>
            <td>{{ assignment.number_students_submited }}</td>
            <td><a href="/grader/add_test_case/{{ assignment.assignment_name }}">Add Test Case</a></td>
            <td><a href="/grader/view_assignment_results/{{ assignment.assignment_name }}">View Report</a></td>
        </tr>
    {% endfor %}
</table>

</body>

<footer>
    <p><a href="/grader">Grader Home</a> | <a href="/grader/create_assignment">Create Assignment</a> | <a
            href="/grader/assignments">View Assignments</a> | <a href="/grader/manage_net_ids">Manage NetIDs</a> | <a
            href="/">Student Home</a> | <a
            href="/grader/view_submission_result">View Submission Result</a></p>
</footer>

</html>